<div class="row p-3">
    <div class="col-12">
        <form [formGroup]="formBook" (ngSubmit)="registerBook()" class="row border rounded px-2 py-4 shadow responsiveY">
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-12 mb-2">
                        <label for="titulo" class="form-label">Título</label>
                        <input formControlName="titulo" type="text" class="form-control" id="titulo">
                    </div>
                    <div class="col-12 mb-4">
                        <label for="autor" class="form-label">Autor</label>
                        <input formControlName="autor" type="text" class="form-control" id="autor">
                    </div>
                    <div class="col-12 col-md-6">
                        <button type="submit" class="btn btn-primary">
                            <span *ngIf="isEdit">Actualiar</span>
                            <span *ngIf="!isEdit">Registrar</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="row h-100">
                    <label (click)="imageInput.click()" class="form-label">Imagen de libro</label>
                    <div class="col-12 mb-2 d-flex justify-content-center align-items-center flex-column">
                        <input class="d-none" #imageInput type="file" accept="image/*" (change)="obtenerImagen($event)"
                            placeholder="foto" />
                        <img style="border-radius: 100%; max-width:8rem; max-height: 8rem; overflow: hidden; margin-bottom: 15px;"
                            (click)="imageInput.click()" [src]="fileSelect|| '../../../assets/images/no_image.png'"
                            alt="">
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
