<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row p-3">
                <div class="col-12">
                    <form [formGroup]="formBook" (ngSubmit)="registerBook()"
                        class="row border rounded px-2 py-4 shadow" style="height: 450px;">
                        <div class="row">
                            <div class="col-12">
                                <div class="row h-100">
                                    <div class="col-12 mb-2 d-flex justify-content-center align-items-center flex-column">
                                        <input class="d-none" #imageInput type="file" accept="image/*"
                                            (change)="obtenerImagen($event)" placeholder="foto" />
                                        <img width="100" class="img"
                                            (click)="imageInput.click()"
                                            [src]="fileSelect|| '../../../assets/images/no_image.png'" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label for="titulo" class="form-label">Título</label>
                                    <input formControlName="titulo" type="text" class="form-control" id="titulo">
                                </div>
                                <div class="col-12 mb-4">
                                    <label for="autor" class="form-label">Autor</label>
                                    <input formControlName="autor" type="text" class="form-control" id="autor">
                                </div>
                                <div class="col-12 ">
                                    <div class="row">
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary">
                                                <span *ngIf="isEdit">Actualiar</span>
                                                <span *ngIf="!isEdit">Registrar</span>
                                            </button>
                                        </div>
                                        <div *ngIf="isEdit" class="col-auto">
                                            <button type="submit" class="btn btn-danger" (click)="cancel()">
                                                <span>Cancelar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row p-3">
                <div class="row mb-3">
                    <div class="col-12">
                        <input class="form-control" type="search" autocomplete="off" [(ngModel)]="nombreFilter"
                            name="nombreFilter" placeholder="Buscar por autor o título..." />
                    </div>
                </div>
                <div class="responsiveY-max-400">
                    <div class="row mb-4 border p-2 rounded"
                        *ngFor="let l of listBook | filterBook : nombreFilter : 'autor' : 'titulo'; index as i">
                        <div class="col-12 col-md-6">
                            <div class="row">
                                <div class="col-12">
                                    <b>Título: </b>{{l.titulo}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <b>Autor: </b>{{l.autor}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <i style="font-size: 20px;" class="bi bi-pencil-square pointer text-primary"
                                        (click)="editBook(l)"></i>
                                </div>
                                <div class="col-auto">
                                    <i style="font-size: 20px;" class="bi bi-trash3 pointer text-danger"
                                        (click)="deleteBook(l)"></i>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                            <img class="rounded" width="150" height="150" [src]="l.url_libro" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isLoad">
        <app-loading></app-loading>
    </div>
</div>