<div class="row p-3">
    <div class="col-12 border rounded shadow">
        <div class="table-responsive responsiveY">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Imagen</th>
                        <th>Acción</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let b of listBook">
                        <td>
                            <label>{{b.titulo}}</label>
                        </td>
                        <td>
                            <label>{{b.autor}}</label>
                        </td>
                        <td>
                            <img class="rounded" width="50" [src]="b.url_libro" alt="">
                        </td>
                        <td class="d-flex justify-content-evenly">
                            <i style="font-size: 25px;" class="bi bi-trash3 p-3 pointer text-danger" (click)="deleteBook(b)"></i>
                            <i style="font-size: 25px;" class="bi bi-pencil-square p-3 pointer text-primary" (click)="updateBook(b)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</div>